<div class="background-register"> <div class="container p-4">
    <div class="row mt-4">
        {{#each clientes}}
           <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                    <h3 class="card-title  my-2 text-center">Registro de Cliente</h3>
                </div>
                
                    <div class="card-body"> 
                        <p class="h5 text-center my-0 mr-3 mb-2 p-2 justify-content-center align-items-center">!Chequea tus datos y crea tu solicitud¡</p>
                        <hr class="my-2 ">
                        <p class="m-2 "><strong>N° de Registro:</strong>  {{numero_registro}} </p>
                        <hr class="my-2">
                        <p class="m-2"><strong>C. (Particular/Empresa):</strong>  {{tipo_cliente}} </p> 
                        <hr class="my-2">
                        <p class="m-2"><strong>Nombres y Apellidos:</strong>   {{nombre_contacto}} </p>
                        <hr class="my-2">
                        <p class="m-2"> <strong>Empresa (Nombre):</strong>  {{nombre_empresa}} </p>
                        <hr class="my-2">
                        <p class="m-2"> <strong> Cédula/Rif:</strong>  {{cedula_rif}} </p>
                        <hr class="my-2">
                        <p class="m-2"><strong> Correo:</strong>   {{email_contacto}} </p>
                        <hr class="my-2">
                        <p class="m-2"><strong> Telefono:</strong> {{telefono_contacto}} </p>
                        <hr class="my-2">
                        <p class="m-2"><strong> Dirección:</strong>  {{direccion_principal}} </p>
                        <hr class="my-2">
                        <p class="m-2"> <strong> ¿Cómo nos Conoció?:</strong>  {{origen_cliente}} </p>
                        <hr class="my-2">
                        <p class="m-2"><strong> Descripción:</strong>   {{descripcion}} </p>  
                        <hr class="my-2"> 
                        <p class="m-2"> <strong> Fecha de Registro:</strong>  {{formatDate fecha_registro 'DD [de] MMMM [de] YYYY HH:mm'}} </p>
                        <hr class="my-2"> 
                        <p class="m-2"> <strong> Registrado:</strong>  {{momentFromNow fecha_registro}}</p>
                        <hr class="my-2"> 
                        <div class="text-center">      
                            <a href=" links/delete/id/{{id}}" class="btn btn-outline-danger btn-block">Eliminar</a>
                            <a href=" links/edit/id/{{id}}" class="btn btn-outline-secondary btn-block">Editar</a>
                            <a href="links/crearsolicitud/id/{{id}}" class="btn btn-outline-success btn-block"> Crear Solicitud</a>
                        </div>
                    </div>
                </div>
           </div>
        {{else }} <!--este else es para que muestre un mensaje de que no hay mas registros-->
           <div class="container p-4">
                <div class="row"> 
                    <div class="col-md-4 mas-auto ">
                        <div class="card  text-center ">
                            <div class="card-body">
                             <p class= "my-1 mr-4 mb-2 p-2 justify-content-center align-items-center">No hay registros</p>
                             <a href="/links/add">Registrate!</a>
                             </div>
                        </div>
                     </div>
                </div>
            </div>
        {{/each }}
    </div>
</div>
